body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.main {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: white;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    /* background-color: rgb(241, 221, 196); */
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 15px rgb(83, 83, 83);
    margin: 10px;
    /* background-color: rgb(251, 246, 240); */
}

.project-container {
    display: flex;
    justify-content: space-around;
}
.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 5px;
    height: auto;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 80px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 550px;
    font-size: 30px;
    justify-content: space-around;
        
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

a:hover {
    color: orange;
}

svg:hover {
    fill: orange;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding: 18px;
    }

.subtext-link {
    font-size: 15px;
}

.main-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: orangered;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.button > a:hover {
    color: white;
}

.button:hover {
    background-color: #ef744b;
    color: orange;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.reverse {
    transform: scale(-1,1);
}

.logo {
    height: 120px;
    margin: 30px;
    margin-left: 80px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:hover {
    color: orange;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }
    
    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}